@charset "UTF-8";
/* Definición de variables */
/* Reset básico */
* {
  margin: 0;
  padding: 0;
  font-weight: 200;
  font-family: "Freeman", sans-serif;
  font-size: 16px;
  color: #DF2C80;
}

h2 {
  margin: 30px;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  color: #DF2C80;
}

header {
  height: auto;
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 5;
  background-color: #DF2C80;
}

.div-brand {
  background-color: #DF2C80;
}
.div-brand .brand {
  text-decoration: none;
}
.div-brand .brand-first {
  color: white;
  display: inline;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}
.div-brand .brand-second {
  color: #511E16;
  display: inline;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}

nav {
  background-color: #DF2C80;
}
nav .div-nav {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
}
nav ul {
  list-style-type: none;
  padding: 0px;
}
nav ul li {
  border: 1px white solid;
  background-color: #FBE6F8;
  margin: 5px;
  padding: 4px;
  text-align: center;
}
nav ul li a {
  text-decoration: none;
  color: #DF2C80;
  width: 100%;
}

.banner {
  background-color: #62C3FE;
  overflow: hidden;
  padding-top: 20px;
}
.banner img {
  height: 500px;
  width: 1431px;
  position: relative;
}
.banner div {
  position: absolute;
  top: 410px;
  left: 2%;
  right: 2%;
  padding: 20px;
  border-radius: 5px;
  z-index: 2;
}
.banner div h2 {
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  font-weight: 900;
  font-style: bold;
  color: white;
  text-align: center;
  margin: 0px;
}
.banner div a {
  text-decoration: none;
  display: block;
  text-align: center;
}
.banner div a button {
  color: white;
  background-color: #511E16;
  margin: 0 auto;
  padding: 8px;
}

.main-index section {
  margin: 5px;
  margin-top: 15px;
}
.main-index section h3 {
  font-size: 28px;
  background-color: #DF2C80;
  text-align: start;
  color: white;
  padding: 10px;
}

.articles-flex {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin-left: 2px;
  margin-right: 2px;
}
.articles-flex section {
  text-align: center;
}
.articles-flex section .article {
  margin-bottom: 10px;
}

footer {
  padding: 10px;
  font-style: italic;
  background-color: #FBE6F8;
  border-top: 1px #DF2C80 solid;
}
footer div a {
  text-decoration: none;
  color: #DF2C80;
}
footer div.map-site nav {
  background-color: #FBE6F8;
}
footer div.map-site nav ul {
  list-style-type: none;
  margin: 0px;
}
footer div.map-site nav ul li {
  border: 0px;
  text-align: start;
  margin: 0px;
  padding: 0px;
}
footer div.map-site nav ul li a {
  text-decoration: none;
  color: #DF2C80;
}

.main-productos {
  margin-top: 20px;
}
.main-productos section {
  margin: 10px;
}
.main-productos section .articles-flex .article {
  margin-bottom: 15px;
}

.form-button {
  background-color: #511E16;
  color: white;
  padding: 5px;
}

.main-preguntasFrecuentes {
  margin-top: 20px;
  margin-bottom: 30px;
}
.main-preguntasFrecuentes section {
  margin: 20px;
}
.main-preguntasFrecuentes .accordion {
  border: 0px;
}
.main-preguntasFrecuentes .accordion .accordion-item {
  background-color: #FBE6F8;
}
.main-preguntasFrecuentes .accordion .accordion-item button.accordion-button {
  color: #DF2C80;
  font-weight: 300px;
  background-color: #FBE6F8;
  border: 1px #DF2C80 solid;
}

.main-quienessomos {
  overflow: hidden;
}
.main-quienessomos div.flex-container {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
}
.main-quienessomos div.flex-container div {
  margin: 10px;
}
.main-quienessomos div.flex-container p {
  background-color: #FBE6F8;
  border: 1px #DF2C80 solid;
  padding: 10px;
  margin-bottom: 10px;
}
.main-quienessomos div.flex-container img {
  width: 100%;
  height: auto;
}
.main-quienessomos img {
  background: linear-gradient(to top, #E4BD07, #FFFFFF);
  width: auto;
  height: 70vh;
}

.main-contact {
  margin: 20px 10px 20px 10px;
}
.main-contact section.contact-section {
  background-color: #FBE6F8;
  border: 1px #DF2C80 solid;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.main-contact section.contact-section .contact-details,
.main-contact section.contact-section .location-map {
  width: 100%;
  padding: 10px;
}
.main-contact .contact-section-form {
  background-color: #FBE6F8;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px #DF2C80 solid;
}
.main-contact button.form-button {
  color: white;
  background-color: #511E16;
  padding: 8px;
}

@media (min-width: 768px) {
  * {
    font-size: 18px;
  }
  .hover a:hover {
    background-color: #DF2C80;
    color: #FBE6F8;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .div-brand {
    text-align: center;
  }
  .div-brand .brand-first {
    font-size: 36px;
  }
  .div-brand .brand-second {
    font-size: 36px;
  }
  nav {
    text-align: center;
    background-color: #FBE6F8;
  }
  nav ul {
    border-bottom: 1px #DF2C80 solid;
  }
  nav ul li {
    padding: 0px;
    display: inline;
    border: 0px;
    margin: 10px;
  }
  nav ul li a {
    font-size: 18px;
    padding: 0px 5px 0px 5px;
  }
  .banner {
    padding-top: 60px;
    margin-top: -18px;
  }
  .banner div {
    top: 10%;
    left: 0;
    right: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .banner div h2 {
    font-size: 36px;
    text-align: end;
  }
  .banner div a button {
    margin-left: auto;
    margin-right: 0;
    padding: 10px;
  }
  .articles-flex {
    padding-left: 5px;
    padding-right: 5px;
  }
  footer {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  footer div.map-site {
    min-width: 150px;
  }
  footer div.map-site ul {
    border: 0px;
  }
  footer div.map-site ul li {
    display: block;
    margin: 0px;
  }
  footer div.map-site ul li a {
    font-size: 18px;
    padding: 0px;
  }
  .main-preguntasFrecuentes {
    margin: 30px;
  }
  .main-quienessomos img {
    background: linear-gradient(to top, #E4BD07, #FFFFFF);
    height: 100vh;
  }
  .main-contacto {
    margin: 20px;
  }
  .main-contact {
    margin: 30px;
  }
  .main-contact section.contact-section {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .main-contact section.contact-section div {
    border: 1px #DF2C80 solid;
  }
}
@media (min-width: 1024px) {
  * {
    font-size: 20px;
  }
  .div-brand .brand-first {
    font-size: 48px;
  }
  .div-brand .brand-second {
    font-size: 48px;
  }
  nav ul li a {
    font-size: 20px;
    padding: 0px 10px 0px 10px;
  }
  .banner {
    margin-top: -20px;
  }
  .banner div {
    top: 15%;
    right: 3%;
  }
  .banner div h2 {
    font-size: 48px;
  }
  h2 {
    font-size: 42px;
  }
  .main-preguntasFrecuentes {
    margin: 50px;
    margin-top: 20px;
  }
  .main-quienessomos div.flex-container {
    padding: 20px;
  }
  .main-quienessomos div.flex-container div {
    margin: 20px;
  }
  .main-quienessomos img {
    background: linear-gradient(to top, #E4BD07, #FFFFFF);
    width: auto;
    height: 150vh;
  }
  .main-contact {
    margin: 40px;
    margin-top: 20px;
  }
  .main-contact section.contact-section {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .main-contact section.contact-section div {
    border: 1px #DF2C80 solid;
  }
}

/*# sourceMappingURL=estilo.css.map */
